@charset "UTF-8";

/* 목록 공통 */
.catalog:not([id=movie]) {
	list-style-type: none;
	margin: 5px;
	padding: 0;
	height: 470px;
}

.catalog li {
	height: 95%;
	border: 1px solid gray;
	width: 31%;
	margin: 3px;
	padding: 5px;
	font-size: 0.8rem;
	float: left;
	text-align: center;
}

.catalog img {
	width: 200px;
	height: 200px;
}

/* 음악 */
.catalog audio {
	width: 220px;
}

/* 영화 */
iframe[name=movie] {
	border: 0;
	width: 100%;
	height: 250px;
	text-align: center;
}
#movieList {
	height: 210px;
}
#movieList img {
	width: 150px;
	height: 190px;
}
#movieList li {
	
}

/* 회원가입 */
h2 {
	margin: 20px;
	padding: 10px;
	text-align: center;
}

#register fieldset {
	width: 500px;
	margin: 20px auto;
	padding: 50px;
}

#register label {
	display: inline-block;
	width: 130px;
}

#register * {
	margin: 5px;
}

#register input:not([type=radio]) {
	width: 200px;
}

/* 장바구니 */
#shopcart {
	text-align: center;	/* 버튼도 가운데로 간다 */
}
#shopcart table {
	width: 700px;
	height: 250px;
	margin: 2px auto;
	border-collapse: collapse;
}
#shopcart table tr td:nth-child(2) {
	width: 200px;
}
#shopcart table input {
	width: 95%;
	height: 90%;
	text-align: center;
}
#shopcart a {
	text-decoration: none;
}
#shopcart a:link, #shopcart a:visited {
	text-align: left;
	display: inline-block;
	margin-top: 20px;
	color: black;
}
