@charset "UTF-8";

body {
	min-width: 1300px;
}

header, footer, aside, section, nav, article {
	border: 2px dotted orange;
	box-sizing: border-box;
	padding: 5px;
}

header, footer, nav {
	width: 100%;
}

nav {
	background: rgb(128, 235, 199);
}

nav ul {
	border: 2px solid red;
	margin: 5px;
	padding: 2px;
	list-style-type: none;
	background: yellow;
	text-align: center; /* 리스트들 정렬 */
}

nav ul li {
	margin: 20px;
	padding: 2px;
	display: inline-block;
	text-align: center; /* 텍스트 정렬 */
	text-transform: uppercase;
}

nav a {
	letter-spacing: 3px;
	font-weight: bold;
}

a {
	text-decoration: none;
}

a:link {
	color: blue;
}

a:visited {
	color: blue;
}

header {
	background: orange;
}

aside, section {
	height: 550px;
}

aside {
	background: #aab1d7; /* rgb(245,189,230) */
	width: calc(15% - 2px);
}

#left {
	float: left;
}

#left ul {
	list-style-type: none;
	margin: 10px;
	padding: 0;
}

#left ul li {
	border: 1px solid black;
	padding: 10px;
	margin: 0px auto;
}

#right {
	float: right;
}

#right p {
	margin: 3px;
	margin-bottom: 10px;
}

#right form {
	margin-bottom: 10px;
}

#right form * {
	margin: 3px;
}

#right form label {
	display: inline-block;
	width: 70px;
}

#right input[type=text], #right input[type=password] {
	width: 100px;
}

#right a {
	font-size: 0.8rem;
	margin-top: 10px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
}

section {
	background: rgb(245, 189, 230);
	width: calc(70% - 3px);
	float: left;
}

article {
	border-color: green;
	margin: 5px auto;
	width: 95%;
	height: 95%;
}

footer {
	background: skyblue;
	clear: both;
	text-align: center;
}

/* 목록 공통 */
.catalog {
	border: 2px solid red;
	list-style-type: none;
	margin: 5px;
	padding: 0;
	/* height: 470px; */
	height: auto;
}

.catalog li {
	border: 1px solid gray;
	width: 31%;
	margin: 3px;
	padding: 5px;
	font-size: 0.8rem;
	float: left;
	text-align: center;
}

.catalog img {
	width: 200px;
	height: 200px;
}

/* 음악 */
.catalog audio {
	width: 220px;
}

/* 영화 */
iframe[name=movie] {
	width: 100%;
	height: 250px;
	text-align: center;
}

/* 회원가입 */
h2 {
	margin: 20px;
	padding: 10px;
	text-align: center;
}

#register fieldset {
	width: 500px;
	margin: 20px auto;
	padding: 50px;
}

#register label {
	display: inline-block;
	width: 130px;
}

#register * {
	margin: 5px;
}

#register input:not([type=radio]) {
	width: 200px;
}

/* 장바구니 */
#shopcart {
	text-align: center;	/* 버튼도 가운데로 간다 */
}
#shopcart table {
	width: 700px;
	height: 250px;
	margin: 2px auto;
	border-collapse: collapse;
}
#shopcart table tr td:nth-child(2) {
	width: 200px;
}
#shopcart table input {
	width: 95%;
	height: 90%;
}
#back {
	margin-left: 300px;
}
