pre {
	font-size : 1.5rem;
	background : #aadafd;
	margin : 50px;
	
	border : 15px solid red;
	border-left : none;
	border-right : none;
	
	padding : 20px;
}

div {
	border: 2px dotted orange;
	margin: 20px;
	padding: 10px;
}

input[type=button], button[type=button] {
	height: 40px;
	background: blue;
	color: white;
	border-radius: 20px;
	font-size: 1.5rem;
}